<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
        <style>
          body {
              background-image: url(https://i.pinimg.com/736x/b4/19/d1/b419d13237e89f7673714b2a9af6f0fe.jpg);
              background-repeat: no-repeat;
              background-attachment:fixed;
              background-size: cover;
          }
      </style>
       <style>
        .texto-centralizado {
            margin-top: 20px; /* ou ajuste o valor conforme necessário */
        }
    </style>
        <title>PET SHOP APP</title>
    </head>
    <body> 
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href='\'>Home</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="\contato">Contato</a>
                  </li>
<!--                  <li class="nav-item">
                    <a class="nav-link" href="\reserva_de_banho">Reserva de Banho</a>
                  </li>-->
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'reserva:criar_reserva' %}">Criar Reserva</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav> 

        {% block principal %}
        <div class="container">
          <h1 class="text-center texto-centralizado">PET SHOP APP</h1>
          <!-- Outro conteúdo do seu template -->
      </div>
        {% endblock %}  
    </body>
</html>